<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>管实BBS</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="./js/postComment.js"></script>
    <script src="./js/praise.js"></script>
    <style>
        body {
            background-image: url("./images/background.jpg");
            background-attachment: fixed;
            background-size: 100%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" style="vertical-align: center">
        <div class="navbar-header">
            <span class="navbar-brand" style="margin-left: 130px;font-size: 28px"><a th:href="@{/index}"
                                                                                     style="text-decoration: none">管实BBS</a></span>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/personalIndex}" style="text-decoration: none"><span class="glyphicon glyphicon-user"
                                                                                   th:text="${session.username}"
                                                                                   style="margin-right: 50px;margin-left: 10px"></span></a>
            </li>
            <li class="change-password"><a th:href="@{/pwd}">修改密码</a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
        </ul>
    </div>
</nav>
<div style="padding: 100px 100px 10px; width: 800px;margin-left: 338px">
    <div class="input-group">
        <form th:action="@{/postLog}" class="log-content-form" id="log-form" th:method="post">
                    <textarea class="form-control post-log-content"
                              style="font-size: 20px;resize:none;overflow:auto;width: 600px" name="log"></textarea>
            <span class="input-group-addon"><a style="text-decoration: none;font-size: 20px"
                                               class="post-log" onclick="document.getElementById('log-form').submit();">发布</a></span>
        </form>
    </div>
</div>
<div class="blog-area" th:each="log:${logs}" th:if="${log.getText()!=null}">
    <div class="blog-user-info">
        <span class="log-id" th:text="${log.getId()}" style="display: none"></span>
        <span class="user-name" th:utext="${log.getWriter()}">哈哈哈</span>
        <span class="blog-time" th:utext="${log.getTime()}">2020-09-10 22:59</span>
    </div>
    <div class="blog-content">
        <div class="blog-words" th:utext="${log.getText()}">这是个看脸的时代，不仅仅停留在美与丑上。岁月给你的经历会沉淀在你的容貌里，烙印在你身上。</div>
    </div>
    <div class="blog-reaction">
        <div class="praise">
            <div class="praise-action" th:praise-button="${log.getId()}"><img src="./images/praise.png" alt="暂时没图"
                                                                              class="praise-img"
                                                                              style="width: 20px;height: 20px;"></div>
            <span class="praise-user" th:each="likegiver:${log.getLikeGiver()}">
                <span th:text="${likegiver}" class="old-praise-user"></span>
            </span>
            <span class=".help-praise"></span>
        </div>
        <div class="comment" th:each="comment:${log.getComments()}">
            <span class="comment-user" th:text="${comment.getWriter()}">黑衣人</span>：
            <span class="comment-content" th:text="${comment.getText()}">
            </span>
        </div>
        <div class="post-comment">
            <form class="comment-form" onsubmit="false" action="javascript:">
                <label>
                    <input type="text" placeholder="评论" class="comment-words">
                    <button type="button" th:blog-button="${log.getId()}" class="blog-button" style="border: none">发表
                    </button>
                </label>
            </form>
        </div>
    </div>
</div>
</body>

</html>