<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./css/login.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="./js/LoginEnsure.js"></script>
</head>
<body>
<img src="./images/logo.jpg" alt="hahaha">
<div class="large-hench">
    <div class="title">BBS入口</div>
    <form th:action="@{/ensure}" method="post" onsubmit="return LoginEnsure()">
        <label>
            <input type="text" placeholder="姓名" name="username" class="input-one username" autocomplete="off">
            <input type="password" placeholder="口令" name="password" class="input-one password">
            <input type="submit" value="我要BB！" class="submit-one">
        </label>
    </form>
</div>
</body>
</html>
