<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="./css/register.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="./js/PwdEnsure.js"></script>
</head>
<body>
<div class="large-hench">
    <div class="title">修改密码</div>
    <form th:action="@{/changePwd}" method="post" class="form-data" onsubmit="
			return registerEnsure()">
        <label>
            <input type="text" placeholder="账号" name="username" class="input-one username" autocomplete="off">
            <input type="password" placeholder="密码" name="password" class="input-one password">
            <input type="password" placeholder="请再输入一次密码" name="repassword" class="input-one repassword">
            <input type="submit" value="确定" class="submit-one">
        </label>
    </form>
</div>
</body>

</html>
